.env
.env.*
!.env.example

/vendor
/node_modules

/storage/*.key
/storage/framework/*
!/storage/framework/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/.idea
/.vscode

/docker/mysql/data
