services:
  app:
    build: ./app
    container_name: laravel_app
    volumes:
      - ./app:/var/www
    working_dir: /var/www
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./app:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  queue:
    build: ./app
    container_name: laravel_queue
    command: php artisan queue:work redis --sleep=3 --tries=3
    volumes:
      - ./app:/var/www
    depends_on:
      - app
      - redis
